.aside-wrapper {
  display: flex;
  position: relative;
}
.aside-modal-wrapper{
  position: absolute;
  max-width: 0;
  overflow: hidden;
  z-index: 7;
  transition-property: max-width;
  transition: 0.3s max-width ease-in-out;
}
.aside-modal-wrapper--visible{
  position: fixed;
  z-index:8;
  max-width: 100%;
  height: 100%;
  background-color: $white;
  transition: 0.3s max-width ease-in-out;
}
.aside {
  position:static;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #ffff;
  box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
  z-index: 5;
  &__inner-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 0px 24px 0px 24px;
    z-index: 5;
  }
  &__header {
    display: flex;
    align-items: center;
    padding-top: 18px;
    margin-bottom: 45px;
  }
  &__button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      @extend %animation-buttons;
    }
    &:focus {
      @extend %animation-buttons;
    }
    &:active {
      @extend %animation-buttons;
    }
  }
  &__burger-button {
    margin-right: 16px;
  }
  &__search-button {
    margin-left: auto;
  }
  &__link {
    cursor: pointer;
    display: flex;
    color: #1b1c21;
    font-weight: 500;
    &:hover {
      cursor: pointer;
      color: $footerGrey;
      transition: color 200ms;
    }
    &:focus {
      cursor: pointer;
      color: $footerGrey;
      transition: color 200ms;
    }
    &:active {
      cursor: pointer;
      color: $footerGrey;
      transition: color 200ms;
    }
  }
  &__navigation-link {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -24px;
        top: -5px;
        border-right: 4px solid #41f6d7;
        height: 32px;
        border-radius: 20%;
      }
    }
    &:focus {
      &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -24px;
        top: -5px;
        border-right: 4px solid #41f6d7;
        height: 32px;
        border-radius: 20%;
      }
    }
    &:active {
      &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -24px;
        top: -5px;
        border-right: 4px solid #41f6d7;
        height: 32px;
        border-radius: 20%;
      }
    }
  }
  &__link--active {
    align-items: center;
  }
  &__navigation {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    margin-bottom: 32px;
  }
  &__navigation-item {
    display: flex;
    flex-wrap: wrap ;
    position: relative;
    width: 100%;
    height: 24px;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
    justify-content: center;
    padding-bottom: 32px;
  }
  &__footer-item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__contacts {
    display: flex;
    margin-bottom: 16px;
  }
  &__mail-link {
    margin: 0;
    font-weight: 600;
    color: #1b1c21;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  &__phone-link {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  &__language {
    display: flex;
  }
  &__language-item {
    margin-right: 7px;
    font-weight: 500;
  }
  &__label {
    display: flex;
  }
  &__radio {
    appearance: none;
    position: absolute;
  }
  &__radio:checked + &__radio-text {
    cursor: pointer;
    color: $footerGrey;
    transition: color 200ms;
  }
  &__radio-text {
    font-weight: 500;
    &:hover {
      cursor: pointer;
      color: $footerGrey;
      transition: color 200ms;
    }
    &:checked {
      cursor: pointer;
      color: $footerGrey;
      transition: color 200ms;
    }
    &:focus {
      cursor: pointer;
      color: $footerGrey;
      transition: color 200ms;
    }
    &:active {
      cursor: pointer;
      color: $footerGrey;
      transition: color 200ms;
    }
  }
}

@media ($minMd) {
  .aside-modal-wrapper{
    transition:0.3s all ease-in-out;
  }
  .aside-modal-wrapper--visible{
    transition:0.3s all ease-in-out;
    width: 100%;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .aside {
    position: absolute;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.9);
    &__inner-container {
      z-index: 10;
      position: relative;
      background-color: $white;
      box-shadow: 16px 0px 52px 0px #0E185033;
      width: 320px;
      background-color: $white;
    }
  }
}

@media ($minXl) {
  .aside-modal-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    position: static;
    max-width: 100%;
    min-width: auto;
    min-height: 100%;
  }
  .aside {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    position: static;
    max-width: 100%;
    height:auto;
    align-self: center;
    &__inner-container{
      padding: 5%;
      height: 100%;
      width: auto;
    }
    &__burger-button{
      display: none;
    }
    &__navigation-link {
      cursor: pointer;
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        &::before {
          content: '';
          display: flex;
          position: absolute;
          left: -5%;
          top: -5px;
          border-right: 4px solid #41f6d7;
          height: 32px;
          border-radius: 20%;
        }
      }
      &:focus {
        &::before {
          content: '';
          display: flex;
          position: absolute;
          left: -5%;
          top: -5px;
          border-right: 4px solid #41f6d7;
          height: 32px;
          border-radius: 20%;
        }
      }
      &:active {
        &::before {
          content: '';
          display: flex;
          position: absolute;
          left: -5%;
          top: -5px;
          border-right: 4px solid #41f6d7;
          height: 32px;
          border-radius: 20%;
        }
      }
    }
  }
}
