.dell-info__paragraph-md--active {
  max-height: auto;
  display: flex;
  position: static;
  visibility: visible;
  margin-bottom: 10px;
  transition: 0.2s all ease-in;
}
.dell-info__paragraph-xl--active {
  display: flex;
  position: static;
  visibility: visible;
  margin-bottom: 10px;
  max-height: auto;
  transition: 0.2s all ease-in;
}
.dell-info__paragraph-xxl--active{
  display: flex;
  position: static;
  visibility: visible;
  margin-bottom: 10px;
  max-height: 100%;
  transition: 0.2s all ease-in;
}
.dell-info {
  position: relative;
  padding: 0px 16px;
  &__text {
    @extend %main-text;
  }
  &__paragraph {
    margin-bottom: 16px;
  }
  &__paragraph-md {
    max-height: 0;
    visibility: hidden;
    transition: 0.2s max-height ease-in;
  }
  &__paragraph-xl {
    max-height: 0;
    visibility: hidden;
    transition: 0.2s max-height ease-in;
  }
  &__paragraph-xxl{
    max-height: 0;
    visibility: hidden;
    transition: 0.2s max-height ease-in;
  }
  &__button {
    display: flex;
    cursor: pointer;
    margin-bottom: 16px;
    align-items: center;
  }
  &__button-image {
    margin-right: 8px;
  }
  &__read-more {
    display: flex;
    @extend %text-larger;
  }
}

@media ($minMd) {
  .dell-info {
    display: flex;
    margin: 0;
    padding-left: 24px;
    &__text {
      flex: 1 2;
    }
    &__paragraph-md {
      display: flex;
      position: static;
      visibility: visible;
      margin-bottom: 10px;
      min-height: 30px;
    }
    &__image-wrapper {
      display: flex;
      margin: 0 auto;
      flex: 1 1;
      padding-right: 25px;
    }
    &__image {
      margin: 0 auto;
    }
  }
}

@media ($minXl) {
  .dell-info {
    padding-left: 34px;
    &__paragraph-xl {
      display: contents;
      position: static;
      visibility: visible;
      min-height: 40px;
    }
    &__image-wrapper {
      display: flex;
      margin: 0 auto;
      flex: 1 1;
      padding-right: 25px;
      object-fit: cover;
    }
    &__image {
      width: 80%;
    }
  }
}
