$bXs: 320px;
$bM: 768px;
$bXl: 1366px;

$minMd: '(min-width: #{$bM})';
$minXl: '(min-width: #{$bXl})';

$mainWhite: #F8F8F8;
$white: #FFFFFF;
$mainBlack: #1B1C21;
$cyanic: #41F6D7;
$fadedCyanic: #B8FFEC;
$mintColor: #D9FFF5;
$footerGrey: #7E7E82;
$formTextGrey: #B5B6BC;

$mainThemeColor:#FF3E79;
$borderServicesColor: #B8FFEC;
$blindGreyColor:#EAEAEA;

